<!DOCTYPE html>
<html>
  <head>
    <title>Doordepot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.doorUrl = "<%= image_url('door.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
